
.creatAccount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
}
form {
    color: #ccc;
}
.logo{
    display: flex;
    align-items: center;
    height: 5rem;
}
.logo img{
    height: 100%;
}
.logo span{
    font-size: 2.5rem;
    color: rgb(230, 219, 219);
}

.creatAccount label {
    display: block;
    margin-bottom: 10px;
}

.creatAccount input[type="text"],
.creatAccount input[type="password"],
.creatAccount input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.creatAccount input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.creatAccount input[type="submit"]:hover {
    background-color: #45a049;
}